@import "../../styles/variables.scss";
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Darker+Grotesque:wght@700&display=swap');

.header{
    width: 100%;
    background-color: $ionic-ivory;
    padding: 1.5625rem 3.75rem;
    @media (max-width: $sm-breakpoint) {
        padding: 24px auto;
    }
}

.header__logo__big{
    margin: 0 auto;
    width: fit-content;
    h2{
        color: $dark-green;
        font-family: 'Darker Grotesque', sans-serif;
    }

    @media (max-width: $sm-breakpoint) {
        display: none;
    }
}


.header__logo__small{
    margin: 0 auto;
    width: fit-content;
    display: none;
    h5{
        color: $dark-green;
        font-family: 'Darker Grotesque', sans-serif;
    }

    @media (max-width: $sm-breakpoint) {
        display: inherit;
    }
}
